body {
  background: url('../assets/FondoAdmin.jpg'); 
}




.boton{
  background-color: palevioletred;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  border-color: black;
  border-radius: 10;
  min-height:40px; 
  min-width: 150px;
  padding:15px;
  border-radius: 10px;
  font-size: large;
  margin-left: 45%;
  margin-top: 15px;
  cursor: pointer;
  margin:10px;
  color: white;
}

.boton:hover {
  background-color: black;
}
.center{

  display: block;
  margin-left: 35%;
  margin-right: 45%;
  width: 30%;
  margin-top: 14%;
}

.bg-black{
  background-color:black;
}